@using Online_Exam_System.ViewModels;
@model CurrentExamsViewModel

@{
    ViewData["Title"] = "List of your exams";
}

<h1>Current Exams</h1>

@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Sorry!</b> - @TempData["Error"] </span>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Exam Points</th>
            <th scope="col">Start time</th>
            <th scope="col">Status</th>
            <th scope="col">Questions Count</th>
            <th scope="col">Questions Points Sum</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model.Exams)
            {

                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.ExamName</td>
                    <td>@item.ExamCode</td>
                    <td>@item.ExamPoints</td>
                    <td>@item.StartTime</td>
                    <td>
                        <span class="badge bg-info">@(Model.ExamQuestionsPointSum[item.ExamID] < item.ExamPoints || Model.IsNotCompleted ? "Not Completed" : "Completed")</span>
                    </td>
                    <td>@Model.ExamQuestionCounts[item.ExamID]</td>
                    <td>@Model.ExamQuestionsPointSum[item.ExamID]</td>
                    <td>
                        @{
                            if (Model.ExamQuestionsPointSum[item.ExamID] != item.ExamPoints)
                        {
                                <a asp-action="AddQuestionForm" asp-controller="Instructor" asp-route-id=@item.ExamID type="button" class="btn btn-success btn-sm">Add question</a>
                            }else
                            {
                                <a asp-action="Stats" asp-controller="Instructor" asp-route-id=@item.ExamID type="button" class="btn btn-warning btn-sm">Stats</a>
                            }
                        }
                        <a asp-action="CurrentQuestion" asp-controller="Instructor" asp-route-id=@item.ExamID type="button" class="btn btn-success btn-sm">Current questions</a>
                        <a asp-action="EditExam" asp-controller="Instructor" asp-route-id=@item.ExamID type="button" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-action="DeleteExam" asp-controller="Instructor" asp-route-id=@item.ExamID type="button" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>