﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
	ViewData["Title"] = "Student Control Panel";
	var currentUser = await UserManager.GetUserAsync(User);
	var userName = currentUser.Name == null ? "Unknown" : currentUser.Name;
}

<h1 class="text-center">Welcome, @userName</h1>
<div class="mx-auto bg-dark border border-dark d-flex justify-content-center align-items-center" style="width: 100px; height: 100px;">
	<img class="rounded-circle img-fluid" src="@Url.Action("GetProfilePicture", "Account", new { userId = currentUser.Id })" alt="Profile Picture" style="height: 100px; width: 100px;" />
</div>
<div class="row text-center mt-5 gap-5 justify-content-center">
	<div class="col-sm-3 col-12 border border-light-subtle p-5">
		<h3>you can take your exams by pressing the below button</h3>
		<a type="button" class="btn btn-primary mt-3" asp-area="" asp-controller="Student" asp-action="TakeExam" asp-route-id="@currentUser.Id">Start new Exam</a>
	</div>
	<div class="col-sm-3 col-12 border border-light-subtle p-5">
		<h3>you can see all the exams you took by pressing below button</h3>
		<a type="button" class="btn btn-primary mt-3" asp-area="" asp-controller="Student" asp-action="ExamsHistory" asp-route-id="@currentUser.Id">Exams History</a>
	</div>
	<div class="col-sm-3 col-12 border border-light-subtle p-5">
		<h3>you can change your information by pressing below button</h3>
		<a type="button" class="btn btn-primary mt-3" asp-area="" asp-controller="Student" asp-action="Settings" asp-route-id="@currentUser.Id">Settings</a>
	</div>
</div>